* {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Public Sans', sans-serif;
}


a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}
